.employeesSalariesTable {
  .ant-btn-primary {
    background-color: var(--button-color);
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: var(--button-color);
      box-shadow: 5px 5px 10px var(--secondary-variant-color);
    }
  }
}

.generateSalaryForm {
  .ant-modal-content {
    border-radius: 4px;
    border-color: var(--textbox-border);
    .ant-modal-header {
      border-radius: 4px 4px 0px 0px;
      border-color: var(--textbox-border);
      .ant-modal-title {
        text-align: center;
        font-size: 22px;
        padding: 8px;
        font-family: var(--font-family-title);
        font-weight: 600;
      }
    }
    .salaryForm {
      text-align: justify;
      .ant-form-item {
        display: flex;
        align-items: center;
      }
      .ant-form-item-label {
        font-size: 18px;
        font-weight: 600;
        font-family: var(--font-family-heading);
      }
    }
    .ant-input-number,
    .ant-input {
      border-radius: 4px;
      text-align: justify;
      width: 80%;
      height: 30px;
    }

    .ant-modal-footer {
      .ant-btn {
        border-radius: 4px;
      }
    }
  }
}
