.sidebar {
  .menu {
    min-height: 82.2vh;
    padding-top: 30px;
    width: max-content;
    .menuItem {
      margin: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
      height: max-content;
    }
  }
  div {
    font-family: var(--font-family-sidebar-sourcesans);
    .image {
      margin-right: 10px;
      width: 40px;
    }
  }
}
