.announcement{
    margin-top: 3%;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    font-family: var(--font-family-description);
    font-size: 18px;
    border-radius: 4px;
}